<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Happy Anniversary 10m</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <img src="../image/3.jpg" alt="fan">
            <div class="title-e">
                <h1>How long we've been together? <i class="fa-solid fa-magnifying-glass"></i></h1>
            </div>
        </div>
        <div class="counter">
            <span id="Daypassed"></span>
            <p>:</p>
            <span id="Hourpassed"></span>
            <p>:</p>
            <span id="Minpassed"></span>
            <p>:</p>
            <span id="Secpassed"></span>
        </div>
        <div class="count-title">
            <p>Days</p>
            <p>Hrs</p>
            <p>Mins</p>
            <p>Secs</p>
        </div>
        <div class="btn-next">
            <button id="next-page">NEXT</button>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="../js/next-page.js"></script>
</body>
</html>