<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Happy Anniversary 10m</title>
</head>
<body>
    <div class="form">
        <div class="container-image">
            <img src="../image/1.jpg" alt="fan" class="img">
            <img src="../image/2.jpg" alt="fan" class="img">
        </div>
        <div class="container-numpad">
            <h1>Enter Your Pass Code</h1>
            <p id="output">Your Pass Code</p>
            <p id="status">True or False</p>          
            <div class="num-pad">
                <div id="1" class="num-btn">1</div>
                <div id="2" class="num-btn">2</div>
                <div id="3" class="num-btn">3</div>
                <div id="4" class="num-btn">4</div>
                <div id="5" class="num-btn">5</div>
                <div id="6" class="num-btn">6</div>
                <div id="7" class="num-btn">7</div>
                <div id="8" class="num-btn">8</div>
                <div id="9" class="num-btn">9</div>
                <div id="*" class="num-btn">*</div>
                <div id="0" class="num-btn">0</div>
                <div id="#" class="num-btns">#</div>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>
</html>