<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Happy Anniversary 10m</title>
</head>
<body>
    <div class="container">
        <div class="icon">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-heart"></i>
        </div>
        <div class="note">
            <p>
                เราอยู่ด้วยกันมา 10เดือน แล้วนะค้าบบ รักเทอจังง คนอะไรทำให้หวงได้ทุกวัน น่ารักทุกวัน ที่แต่คนชอบบนมก็ใหญ่ ไม่เป็นไรเค้าเป็นแฟนเทอเค้าชนะทุกคน
                วันครบรอบเดือนนี้ขอให้แฟนเค้า สุขภาพแข็งแรงนะค้าบบ ไม่ต้องป่วยยน้าา แล้วก็ดื้อน้อยๆๆหน่อยนะค้าบบ คนสวยคนนี้ดื้อสุดๆเลย กีฬาสีเรามาถ่ายรูปด้วยกันนะค้าบบ 
                อยากถ่ายรุปกับคนสวยจัง มีอะไรไม่สบายใจบอกเค้าได้นะค้าบบ ใครทำอะไรเทอบอกเค้านะค้าบบ เดี่ยวเค้าจัดการให้เองค้าบ สุดท้ายนี้ ขอให้เราอยู่ด้วยกันไปนานๆนะค้าบ ผ่านอะไรไปด้วยกันนะค้าบบ
                อยากมีเทออยู่ในทุกเทศกาลเลย รักพี่นะค้าบ จากหมาเด็กตัวนี้ที่รักพี่ที่สุดในจักวาล❤️
            </p>
        </div>
        <div class="btn-next">
            <button id="next-page">Yuki ❤️ Tonka</button>
        </div>
        <div class="icon">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bone" style="color: rgb(207, 139, 247);"></i>
            <i class="fa-solid fa-bone"></i>
            <i class="fa-solid fa-heart" style="color: rgb(207, 139, 247);"></i>
        </div>
    </div>
    <script src="../js/next-side.js"></script>
</body>
</html>