<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/page.css">
    <title>Happy Anniversary 10m</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Yuki  &  Tonka  <i class="fa-solid fa-heart"></i></h1>
        </div>
        <div class="image">
            <img src="../image/4.jpg" alt="FAN">
            <img src="../image/5.jpg" alt="FAN">
            <img src="../image/6.jpg" alt="FAN">
            <img src="../image/stiker-1.gif" alt="FAN">
            <img src="../image/stiker-2.gif" alt="FAN">
            <img src="../image/stiker-3.gif" alt="FAN">
        </div>
        <div class="btn-next">
            <button id="next-page">10 months and forever</button>
        </div>
    </div>
    <script src="../js/next-page-1.js"></script>
</body>
</html>